<%- include('partials/header') %>



<div class="form-container">

    <h1>Add a New Book</h1>
    
    <p><a href="/" class="cancel-link">Back</a></p>

    
    <form action="/add" method="POST" class="entry-form">
        
        
        <div class="form-group">
            <label for="title">Book Title:</label><br>
            <input type="text" id="title" name="title" required>
        </div>
        <br>
        <div class="form-group">
            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author" required>
        </div>
        <br>
        <div class="form-group">
            <label for="rating">Rating:</label><br>
            <input type="number" id="rating" name="rating" min="1" max="10"  required>
        </div>
        <br>
        <div class="form-group">
            <label for="date_read">Date Finished:</label><br>
            <input type="date" id="date_read" name="date_read" required>
        </div>
        <br>
        <div class="form-group">
            <label for="isbn">ISBN Number:</label><br>
            <input type="text" id="isbn" name="isbn" maxlength="13">
        </div>
        <br>
        <div class="form-group">
            <label for="notes">Your Notes & Impressions:</label><br>
            <textarea id="notes" name="notes" rows="8" cols="50" maxlength="2000" required></textarea>
        </div>
        <br>
        
        <button type="submit" class="submit-btn">Save Book</button>
    </form>

</div>

<%- include('partials/footer') %>
